<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_wheels" >



  <!-- PROPERTY LIST -->
  <!--All units in m-kg-s-radians unit system -->
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="M_PI_2" value="1.570796327" />
  <xacro:property name="DEG_TO_RAD" value="0.017453293" />


  <!-- caster wheel radius and height -->
  <!-- caster wheel mass -->
  <xacro:property name="caster_f_height" value="0.04" /> 
  <xacro:property name="caster_f_radius" value="0.025" /> 
  <xacro:property name="caster_f_mass" value="0.5" /> 


  <!-- caster wheel radius and height -->
  <!-- caster wheel mass -->
  <xacro:property name="caster_b_height" value="0.04" /> 
  <xacro:property name="caster_b_radius" value="0.025" /> 
  <xacro:property name="caster_b_mass" value="0.5" /> <!-- in kg-->


<!--######################################################################-->
<xacro:macro name="robot_caster_wheel" params="prefix origin">

<link name="${prefix}_caster_wheel_link">
  <inertial>
    <mass value="${caster_f_mass}" />
    <origin xyz="0 0 0" />
    <inertia ixx="0.001" ixy="0.0" ixz="0.0"
             iyy="0.001" iyz="0.0" 
             izz="0.001" />
  </inertial>

    <visual>
      <origin
        xyz="0 0 0"
        rpy="0.0 ${M_PI/2} 0.0" />
      <geometry>
        <cylinder radius="0.07" length="0.05"/>

        <!-- <mesh filename="package://waiter_robot_description_pkg/meshes/caster_wheel.stl"  >                    -->
        <!-- </mesh>       -->
    </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0.0 ${M_PI/2} 0.0" />
      <geometry>
        <cylinder radius="0.07" length="0.05"/>
        <!-- <mesh filename="package://waiter_robot_description_pkg/meshes/caster_wheel.stl" > -->
                   
        <!-- </mesh> -->
        </geometry>
    </collision>
  </link>

  <joint name="${prefix}_caster_wheel_joint" type="fixed">
    <axis xyz="0 1 0"/>
    <parent link ="base_link_chassis"/>
    <child link ="${prefix}_caster_wheel_link"/>
    <origin rpy ="${-M_PI/2} 0.0 0.0" xyz= "${origin}"/>
  </joint>

</xacro:macro>

<!--######################################################################-->

</robot>